/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --blue: #0a507a;
  --white: #fff;
  --black: #2b2a29;
  --font-family: "Rethink Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  padding: 150px 0;
  max-width: 1075px;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black);
}

.site-images {
  width: 100%;
}

.header {
  padding-bottom: 80px;
  background-image: url("./../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top {
  padding: 50px 0 33px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu__link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  color: var(--blue);
  transition: color 0.3s ease;
}
.menu__link:hover {
  color: var(--black);
}

.header__phone {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
  text-transform: lowercase;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--blue);
  transition: background-color 0.3s ease;
}
.header__phone:hover {
  background-color: #157ab3;
}

.title-img {
  margin-bottom: 50px;
  position: relative;
  z-index: -1;
}

.title-text {
  display: inline-block;
  align-self: flex-start;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.title-text:hover {
  color: var(--white);
  background-color: var(--blue);
}

.header__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header__info {
  display: flex;
  flex-direction: column;
}

.header__info-list {
  margin-top: auto;
  margin-bottom: 118px;
  max-width: 495px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 10px;
}

.header__info-link {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 26px;
  color: var(--blue);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--blue);
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header__info-link:hover {
  color: var(--white);
  background-color: var(--blue);
}

.header__social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__social-link {
  display: inline-block;
  transition: transform 0.3s ease;
}
.header__social-link:hover {
  transform: translateY(-2px);
}

.header__news {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header__news-box {
  max-width: 392px;
  width: 100%;
  margin-bottom: 103px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.header__news-title {
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--black);
}

.header__news-time {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--black);
}

.header__news-link {
  align-self: flex-start;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline !important;
  color: var(--black);
  transition: color 0.3s ease;
}
.header__news-link:hover {
  color: var(--blue);
}

.header__news-img {
  flex-shrink: 0;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__btns-link {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 30px;
  border: 1px solid var(--black);
  padding: 0px 20px;
  background-color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header__btns-link:hover {
  color: var(--black);
  background-color: var(--white);
}
.header__btns-link--transparent {
  color: var(--black);
  border: 1px solid var(--black);
  background-color: rgba(255, 255, 255, 0.3);
}
.header__btns-link--transparent:hover {
  color: var(--white);
  background-color: var(--blue);
}

.about {
  padding-bottom: 150px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.about__content {
  max-width: 560px;
  display: flex;
  flex-direction: column;
}

.about__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

.about__title {
  margin-bottom: 100px;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black);
}

.about__img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  flex-shrink: 0;
}

.about__description {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__description p {
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.about__link {
  position: absolute;
  bottom: 46px;
  right: 68px;
  height: 62px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 30px;
  border: 1px solid var(--white);
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
}
.about__link:hover {
  background-color: var(--blue);
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.about__list-link {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 26px;
  color: var(--blue);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--blue);
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.about__list-link:hover {
  color: var(--white);
  background-color: var(--blue);
}

.activities {
  padding-bottom: 100px;
}

.activities__top {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.activities__title {
  max-width: 850px;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black);
}

.activities__description {
  max-width: 850px;
}

.activities__text {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.activities__description-link {
  height: 62px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 30px;
  border: 1px solid var(--black);
  padding: 0px 20px;
  background-color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.activities__description-link:hover {
  color: var(--black);
  background-color: var(--white);
}

.activities__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.activities__list-item {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: var(--black);
  aspect-ratio: 1/1;
  border: 1px solid var(--black);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.activities__list-item:hover {
  color: var(--white);
  background-color: var(--blue);
  border-color: transparent;
}

.reviews {
  padding: 150px 0;
}

.reviews__top {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 50%;
}

.reviews__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

.reviews__title {
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black);
}

.reviews__items {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 20px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}
.reviews__item:nth-child(even) {
  padding-top: 94px;
}

.reviews__img {
  margin-bottom: 15px;
}

.reviews__item-desc {
  display: flex;
  flex-direction: column;
}
.reviews__item-desc--row {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.reviews__item-desc--start {
  align-items: flex-start;
}
.reviews__item-desc--start p {
  margin-bottom: 15px;
}

.reviews__item-text {
  max-width: 320px;
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.reviews__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reviews__item-person {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.reviews__item-date {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: var(--black);
}/*# sourceMappingURL=main.css.map */