.activities {
  padding-bottom: 100px;
}

.activities__top {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.activities__title {
  max-width: 850px;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black);
}

.activities__description {
  max-width: 850px;
}

.activities__text {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.activities__description-link {
  height: 62px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 30px;
  border: 1px solid var(--black);
  padding: 0px 20px;
  background-color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--black);
    background-color: var(--white);
  }
}

.activities__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.activities__list-item {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: var(--black);
  aspect-ratio: 1 / 1;
  border: 1px solid var(--black);
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    color: var(--white);
    background-color: var(--blue);
    border-color: transparent;
  }
}
