.header {
  padding-bottom: 80px;
  background-image: url("./../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.header__top {
  padding: 50px 0 33px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }

  @media (max-width: 600px) {
    padding: 30px 0 20px;
  }
}

.menu__btn {
  display: none;
  position: relative;
  z-index: 5;

  span {
    width: 100%;
    height: 3px;
    background-color: var(--blue);
    transition: all 0.3s ease-in;
  }

  @media (max-width: 1024px) {
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &--active {
    .two {
      display: none;
    }
    span {
      position: absolute;
      transition: all 0.3s ease-in;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 1024px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 85px 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;

    &--active {
      transform: translateX(0);
    }
  }
}

.menu__link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  color: var(--blue);
  transition: color 0.3s ease;

  &:hover {
    color: var(--black);
  }
}

.header__phone {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
  text-transform: lowercase;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--blue);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #157ab3;
  }
}

.title-img {
  margin-bottom: 50px;
  position: relative;
  z-index: -1;

  @media (max-width: 600px) {
    margin-bottom: 40px;
  }
}

.title-text {
  display: inline-block;
  align-self: flex-start;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--white);
    background-color: var(--blue);
  }

  @media (max-width: 767px) {
    font-size: 16px;
    margin-top: 25px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.header__info {
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    gap: 35px;
  }
}

.header__info-list {
  margin-top: auto;
  margin-bottom: 118px;
  max-width: 495px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 10px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
    gap: 10px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}

.header__info-link {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 26px;
  color: var(--blue);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--blue);
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--white);
    background-color: var(--blue);
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.header__social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__social-link {
  display: inline-block;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-2px);
  }

  @media (max-width: 767px) {
    img {
      width: 52px;
      aspect-ratio: 1;
    }
  }

  @media (max-width: 600px) {
    img {
      width: 42px;
      aspect-ratio: 1;
    }
  }
}

.header__news {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media (max-width: 600px) {
    align-items: center;
  }
}

.header__news-box {
  max-width: 392px;
  width: 100%;
  margin-bottom: 103px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.8);

  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.header__news-title {
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--black);

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.header__news-time {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--black);

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.header__news-link {
  align-self: flex-start;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline !important;
  color: var(--black);
  transition: color 0.3s ease;

  &:hover {
    color: var(--blue);
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.header__news-img {
  flex-shrink: 0;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    gap: 10px;
  }

  @media (max-width: 600px) {
    flex-direction: row;
  }
}

.header__btns-link {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 30px;
  border: 1px solid var(--black);
  padding: 0px 20px;
  background-color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--black);
    background-color: var(--white);
  }

  &--transparent {
    color: var(--black);
    border: 1px solid var(--black);
    background-color: rgba(255, 255, 255, 0.3);

    &:hover {
      color: var(--white);
      background-color: var(--blue);
    }
  }

  @media (max-width: 767px) {
    font-size: 20px;
    height: 52px;
  }
}
