@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --blue: #0a507a;
  --white: #fff;
  --black: #2b2a29;

  --font-family: "Rethink Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  padding: 150px 0;
  max-width: 1075px;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black);
}

.site-images {
  width: 100%;
}
